In [1]:
import pandas as pd

In [16]:
df = pd.read_parquet("data/raw/SNB3-parquet/post.parquet")
df.head()

,creationDate,id,imageFile,locationIP,browserUsed,language,content,length,type
0,2010-08-23 09:13:14.999,824634769408,None,41.223.177.12,Safari,ar,"About Pierre Trudeau, ise the force of About M...",118,Post
1,2010-08-04 13:17:28.851,824634769412,None,41.223.177.12,Safari,ar,"About Pierre Trudeau, ialist ideals, but he ev...",113,Post
2,2010-05-25 11:39:44.604,549756862472,photo549756862472.jpg,41.223.177.12,Safari,None,None,0,Post
3,2010-05-25 11:39:45.604,549756862473,photo549756862473.jpg,41.223.177.12,Safari,None,None,0,Post
4,2010-05-25 11:39:46.604,549756862474,photo549756862474.jpg,41.223.177.12,Safari,None,None,0,Post

In [17]:
df[['imageFile']].apply(lambda x: x.str.len()).describe()

          imageFile
count  2.177397e+06
mean   2.192533e+01
std    4.398633e-01
min    1.300000e+01
25%    2.200000e+01
50%    2.200000e+01
75%    2.200000e+01
max    2.200000e+01

In [18]:
df[['imageFile']].head(100)

                 imageFile
0                     None
1                     None
2    photo549756862472.jpg
3    photo549756862473.jpg
4    photo549756862474.jpg
..                     ...
95  photo1649268490341.jpg
96  photo1649268490342.jpg
97  photo1649268490343.jpg
98   photo549756862568.jpg
99   photo549756862569.jpg

[100 rows x 1 columns]